/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-May-2020, 13:22:24
    Author     : farah
*/

  .container
{
    margin-top: 100px; 
}

#card1 
{
   width: 300px; 
   text-align: center;
}

#card1:hover
{
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   -o-transform: scale(1.1);
    transform: scale(1.1);
   -webkit-transition: all .5s ease-in-out ;
   -moz-transition: all .5s ease-in-out;
   -ms-transition: all .5s ease-in-out;
   -o-transition: all .5s ease-in-out;
   transition: all .5s ease-in-out; 
}